.erp-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.erp-container {
  width: 100%;
  max-width: 1200px;
  margin: 10px;
  margin-bottom: 40px;
}

.collapsible {
  background-color: #e6e6e6;
  color: var(--frik-gray);
  font-weight: 700;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--frik-blue);
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active-module, .collapsible:hover {
  background-color: var(--frik-blue);
  color: #fff;
}

.collapsible.active-module .module-icon,
.collapsible:hover .module-icon {
  color: #fff;
}

.erp-content {
  padding: 20px;
  display: none;
  overflow: hidden;
  background-color:  var(--frik-bg-gray);
  color: var(--frik-gray);
}

.module-icon {
  margin-right: 10px;
  font-size: 24px;
  color: var(--frik-blue);
}

.module-img {
  float: left;
  object-fit: cover;
  margin-right: 15px;
  width: 350px;
  height: 350px;
}

.module-title {
  position: relative;
  top: -5px;
  font-size: 20px;
}

.erp-intro {
  margin-bottom: 30px;
  text-align: justify;
  padding: 0px 20px;
}

.module-text {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--frik-gray);
}
