footer {
  background-color: #000;
  padding: 80px;
}

footer .social {
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

footer .social i {
  color: #fff;
  font-size: 30px;
  margin: 15px;
}
footer .social a {
  margin: 15px;
}

.copyright {
  color: #fff;
  justify-content: center;
}