header {
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: var(--frik-blue);
}

.active {
  background-color: var(--frik-blue);
}