* {
  --frik-blue: #267fbf;
  --frik-bg-gray: #F8F8F8;
  --frik-gray: #252525;
  --frik-darkblue: #0015f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 200vh;
}

main {
}

.flex-container {
  display: flex;
}

.section-title {
  color: var(--frik-gray);
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
}

.highlight-text {
  font-size: 52px;
}

.important-text {
  font-size: 25px;
}

.intro-text {
  color: var(--frik-gray);
  font-size: 20px;
}

.regular-text {
  color: var(--frik-gray);
  font-size: 18px;
}
